package consumer

import (
	"errors"
	"testing"

	"github.com/stretchr/testify/require"
)

var (
	test{{.Type.Title}}ConsumerValue {{.Type.Name}}
	test{{.Type.Title}}ConsumerError = errors.New("error")
)

type test{{.Type.Title}}ConsumerFactory func(t *testing.T) {{.Type.Title}}Consumer

func Test{{.Type.Title}}Consumer(t *testing.T) {
	tests := []struct {
		name string
		cf   test{{.Type.Title}}ConsumerFactory
	}{
		{
			name: "ok",
			cf: func(t *testing.T) {{.Type.Title}}Consumer {
				return func(v {{.Type.Name}}) error {
					require.Equal(t, test{{.Type.Title}}ConsumerValue, v)
					return nil
				}
			},
		},
		{
			name: "with_error",
			cf: func(t *testing.T) {{.Type.Title}}Consumer {
				return func(v {{.Type.Name}}) error {
					require.Equal(t, test{{.Type.Title}}ConsumerValue, v)
					return test{{.Type.Title}}ConsumerError
				}
			},
		},
	}
	for _, tt := range tests {
		t.Run(tt.name, func(t *testing.T) {
			r := require.New(t)

			c := tt.cf(t)
			err := c(test{{.Type.Title}}ConsumerValue)
			if err != nil {
				r.EqualError(err, test{{.Type.Title}}ConsumerError.Error())
			} else {
				r.NoError(err)
			}
		})
	}
}

{{if ne .Type.Name "interface{}" }}
func Test{{.Type.Title}}Supplier_ToSupplier(t *testing.T) {
	tests := []struct {
		name string
		cf   test{{.Type.Title}}ConsumerFactory
	}{
		{
			name: "ok",
			cf: func(t *testing.T) {{.Type.Title}}Consumer {
				return func(v {{.Type.Name}}) error {
					require.Equal(t, test{{.Type.Title}}ConsumerValue, v)
					return nil
				}
			},
		},
		{
			name: "with_error",
			cf: func(t *testing.T) {{.Type.Title}}Consumer {
				return func(v {{.Type.Name}}) error {
					require.Equal(t, test{{.Type.Title}}ConsumerValue, v)
					return test{{.Type.Title}}ConsumerError
				}
			},
		},
	}
	for _, tt := range tests {
		t.Run(tt.name, func(t *testing.T) {
			r := require.New(t)

			tc := tt.cf(t)
			c := tc.ToConsumer()
			r.NotNil(c)

			err := c(test{{.Type.Title}}ConsumerValue)
			if err != nil {
				r.EqualError(err, test{{.Type.Title}}ConsumerError.Error())
			} else {
				r.NoError(err)
			}
		})
	}
}
{{end}}

func Test{{.Type.Title}}Consumer_AndThen(t *testing.T) {
	var calls int
	tests := []struct {
		name  string
		cf1   test{{.Type.Title}}ConsumerFactory
		cf2   test{{.Type.Title}}ConsumerFactory
		calls int
	}{
		{
			name: "ok",
			cf1: func(t *testing.T) {{.Type.Title}}Consumer {
				return func(v {{.Type.Name}}) error {
					calls++
					require.Equal(t, test{{.Type.Title}}ConsumerValue, v)
					require.Equal(t, calls, 1, "should be called first and only once")
					return nil
				}
			},
			cf2: func(t *testing.T) {{.Type.Title}}Consumer {
				return func(v {{.Type.Name}}) error {
					calls++
					require.Equal(t, test{{.Type.Title}}ConsumerValue, v)
					require.Equal(t, calls, 2, "should be called second and only once")
					return nil
				}
			},
			calls: 2,
		},
		{
			name: "with_error",
			cf1: func(t *testing.T) {{.Type.Title}}Consumer {
				return func(v {{.Type.Name}}) error {
					calls++
					require.Equal(t, test{{.Type.Title}}ConsumerValue, v)
					require.Equal(t, calls, 1, "should be called first and only once")
					return test{{.Type.Title}}ConsumerError
				}
			},
			cf2: func(t *testing.T) {{.Type.Title}}Consumer {
				return func(v {{.Type.Name}}) error {
					calls++
					require.Equal(t, test{{.Type.Title}}ConsumerValue, v)
					require.Equal(t, calls, 2, "should be called second and only once")
					return nil
				}
			},
			calls: 1,
		},
		{
			name: "nil after",
			cf1: func(t *testing.T) {{.Type.Title}}Consumer {
				return func(v {{.Type.Name}}) error {
					calls++
					require.Equal(t, test{{.Type.Title}}ConsumerValue, v)
					require.Equal(t, calls, 1, "should be called first and only once")
					return nil
				}
			},
			cf2: func(t *testing.T) {{.Type.Title}}Consumer {
				return nil
			},
			calls: 1,
		},
	}
	for _, tt := range tests {
		t.Run(tt.name, func(t *testing.T) {
			r := require.New(t)

			c1 := tt.cf1(t)
			c2 := tt.cf2(t)

			cc := c1.AndThen(c2)
			r.NotNil(cc)

			calls = 0
			err := cc(test{{.Type.Title}}ConsumerValue)
			if err != nil {
				r.EqualError(err, test{{.Type.Title}}ConsumerError.Error())
			} else {
				r.NoError(err)
			}
			r.Equal(tt.calls, calls)
		})
	}
}

func Test{{.Type.Title}}Consumer_ToSilent{{.Type.Title}}Consumer(t *testing.T) {
	tests := []struct {
		name string
		cf   test{{.Type.Title}}ConsumerFactory
	}{
		{
			name: "ok",
			cf: func(t *testing.T) {{.Type.Title}}Consumer {
				return func(v {{.Type.Name}}) error {
					require.Equal(t, test{{.Type.Title}}ConsumerValue, v)
					return nil
				}
			},
		},
		{
			name: "with_error",
			cf: func(t *testing.T) {{.Type.Title}}Consumer {
				return func(v {{.Type.Name}}) error {
					require.Equal(t, test{{.Type.Title}}ConsumerValue, v)
					return test{{.Type.Title}}ConsumerError
				}
			},
		},
	}
	for _, tt := range tests {
		t.Run(tt.name, func(t *testing.T) {
			r := require.New(t)

			c := tt.cf(t)
			sc := c.ToSilent{{.Type.Title}}Consumer()
			r.NotNil(sc)

			sc(test{{.Type.Title}}ConsumerValue)
		})
	}
}

func Test{{.Type.Title}}Consumer_ToMust{{.Type.Title}}Consumer(t *testing.T) {
	tests := []struct {
		name string
		cf   test{{.Type.Title}}ConsumerFactory
		err  bool
	}{
		{
			name: "ok",
			cf: func(t *testing.T) {{.Type.Title}}Consumer {
				return func(v {{.Type.Name}}) error {
					require.Equal(t, test{{.Type.Title}}ConsumerValue, v)
					return nil
				}
			},
		},
		{
			name: "with_error",
			cf: func(t *testing.T) {{.Type.Title}}Consumer {
				return func(v {{.Type.Name}}) error {
					require.Equal(t, test{{.Type.Title}}ConsumerValue, v)
					return test{{.Type.Title}}ConsumerError
				}
			},
			err: true,
		},
	}
	for _, tt := range tests {
		t.Run(tt.name, func(t *testing.T) {
			r := require.New(t)

			c := tt.cf(t)
			mc := c.ToMust{{.Type.Title}}Consumer()
			r.NotNil(mc)

			if tt.err {
				r.PanicsWithError(test{{.Type.Title}}ConsumerError.Error(), func() {
					mc(test{{.Type.Title}}ConsumerValue)
				})
			} else {
				mc(test{{.Type.Title}}ConsumerValue)
			}
		})
	}
}

func TestSilent{{.Type.Title}}Consumer(t *testing.T) {
	var sc Silent{{.Type.Title}}Consumer = func(v {{.Type.Name}}) {
		require.Equal(t, test{{.Type.Title}}ConsumerValue, v)
		return
	}
	sc(test{{.Type.Title}}ConsumerValue)
}

func TestSilent{{.Type.Title}}Consumer_AndThen(t *testing.T) {
	var calls int
	tests := []struct {
		name  string
		cf1   test{{.Type.Title}}ConsumerFactory
		cf2   test{{.Type.Title}}ConsumerFactory
		calls int
	}{
		{
			name: "ok",
			cf1: func(t *testing.T) {{.Type.Title}}Consumer {
				return func(v {{.Type.Name}}) error {
					calls++
					require.Equal(t, test{{.Type.Title}}ConsumerValue, v)
					require.Equal(t, calls, 1, "should be called first and only once")
					return nil
				}
			},
			cf2: func(t *testing.T) {{.Type.Title}}Consumer {
				return func(v {{.Type.Name}}) error {
					calls++
					require.Equal(t, test{{.Type.Title}}ConsumerValue, v)
					require.Equal(t, calls, 2, "should be called second and only once")
					return nil
				}
			},
			calls: 2,
		},
		{
			name: "with_error",
			cf1: func(t *testing.T) {{.Type.Title}}Consumer {
				return func(v {{.Type.Name}}) error {
					calls++
					require.Equal(t, test{{.Type.Title}}ConsumerValue, v)
					require.Equal(t, calls, 1, "should be called first and only once")
					return test{{.Type.Title}}ConsumerError
				}
			},
			cf2: func(t *testing.T) {{.Type.Title}}Consumer {
				return func(v {{.Type.Name}}) error {
					calls++
					require.Equal(t, test{{.Type.Title}}ConsumerValue, v)
					require.Equal(t, calls, 2, "should be called second and only once")
					return nil
				}
			},
			calls: 2,
		},
		{
			name: "nil after",
			cf1: func(t *testing.T) {{.Type.Title}}Consumer {
				return func(v {{.Type.Name}}) error {
					calls++
					require.Equal(t, test{{.Type.Title}}ConsumerValue, v)
					require.Equal(t, calls, 1, "should be called first and only once")
					return nil
				}
			},
			cf2: func(t *testing.T) {{.Type.Title}}Consumer {
				return nil
			},
			calls: 1,
		},
	}
	for _, tt := range tests {
		t.Run(tt.name, func(t *testing.T) {
			r := require.New(t)

			c1 := tt.cf1(t)
			sc1 := c1.ToSilent{{.Type.Title}}Consumer()
			r.NotNil(sc1)

			c2 := tt.cf2(t)
			var sc2 Silent{{.Type.Title}}Consumer = nil
			if c2 != nil {
				sc2 = c2.ToSilent{{.Type.Title}}Consumer()
				r.NotNil(sc2)
			}

			csc := sc1.AndThen(sc2)
			r.NotNil(csc)

			calls = 0
			csc(test{{.Type.Title}}ConsumerValue)
			r.Equal(tt.calls, calls)
		})
	}
}

func TestMust{{.Type.Title}}Consumer(t *testing.T) {
	var sc Silent{{.Type.Title}}Consumer = func(v {{.Type.Name}}) {
		require.Equal(t, test{{.Type.Title}}ConsumerValue, v)
		return
	}
	sc(test{{.Type.Title}}ConsumerValue)
}

func TestMust{{.Type.Title}}Consumer_AndThen(t *testing.T) {
	var calls int
	tests := []struct {
		name  string
		cf1   test{{.Type.Title}}ConsumerFactory
		cf2   test{{.Type.Title}}ConsumerFactory
		calls int
		err   bool
	}{
		{
			name: "ok",
			cf1: func(t *testing.T) {{.Type.Title}}Consumer {
				return func(v {{.Type.Name}}) error {
					calls++
					require.Equal(t, test{{.Type.Title}}ConsumerValue, v)
					require.Equal(t, calls, 1, "should be called first and only once")
					return nil
				}
			},
			cf2: func(t *testing.T) {{.Type.Title}}Consumer {
				return func(v {{.Type.Name}}) error {
					calls++
					require.Equal(t, test{{.Type.Title}}ConsumerValue, v)
					require.Equal(t, calls, 2, "should be called second and only once")
					return nil
				}
			},
			calls: 2,
		},
		{
			name: "with_error",
			cf1: func(t *testing.T) {{.Type.Title}}Consumer {
				return func(v {{.Type.Name}}) error {
					calls++
					require.Equal(t, test{{.Type.Title}}ConsumerValue, v)
					require.Equal(t, calls, 1, "should be called first and only once")
					return test{{.Type.Title}}ConsumerError
				}
			},
			cf2: func(t *testing.T) {{.Type.Title}}Consumer {
				return func(v {{.Type.Name}}) error {
					calls++
					require.Equal(t, test{{.Type.Title}}ConsumerValue, v)
					require.Equal(t, calls, 2, "should be called second and only once")
					return nil
				}
			},
			calls: 1,
			err:   true,
		},
		{
			name: "nil after",
			cf1: func(t *testing.T) {{.Type.Title}}Consumer {
				return func(v {{.Type.Name}}) error {
					calls++
					require.Equal(t, test{{.Type.Title}}ConsumerValue, v)
					require.Equal(t, calls, 1, "should be called first and only once")
					return nil
				}
			},
			cf2: func(t *testing.T) {{.Type.Title}}Consumer {
				return nil
			},
			calls: 1,
		},
	}
	for _, tt := range tests {
		t.Run(tt.name, func(t *testing.T) {
			r := require.New(t)

			c1 := tt.cf1(t)
			mc1 := c1.ToMust{{.Type.Title}}Consumer()
			r.NotNil(mc1)

			c2 := tt.cf2(t)
			var mc2 Must{{.Type.Title}}Consumer = nil
			if c2 != nil {
				mc2 = c2.ToMust{{.Type.Title}}Consumer()
				r.NotNil(mc2)
			}

			cmc := mc1.AndThen(mc2)
			r.NotNil(cmc)

			calls = 0
			if tt.err {
				r.PanicsWithError(test{{.Type.Title}}ConsumerError.Error(), func() {
					cmc(test{{.Type.Title}}ConsumerValue)
				})
			} else {
				cmc(test{{.Type.Title}}ConsumerValue)
			}
			r.Equal(tt.calls, calls)
		})
	}
}

func TestMust{{.Type.Title}}Consumer_ToSilent{{.Type.Title}}Consumer(t *testing.T) {
	tests := []struct {
		name string
		cf   test{{.Type.Title}}ConsumerFactory
	}{
		{
			name: "ok",
			cf: func(t *testing.T) {{.Type.Title}}Consumer {
				return func(v {{.Type.Name}}) error {
					require.Equal(t, test{{.Type.Title}}ConsumerValue, v)
					return nil
				}
			},
		},
		{
			name: "with_error",
			cf: func(t *testing.T) {{.Type.Title}}Consumer {
				return func(v {{.Type.Name}}) error {
					require.Equal(t, test{{.Type.Title}}ConsumerValue, v)
					return test{{.Type.Title}}ConsumerError
				}
			},
		},
	}
	for _, tt := range tests {
		t.Run(tt.name, func(t *testing.T) {
			r := require.New(t)

			c := tt.cf(t)

			mc := c.ToMust{{.Type.Title}}Consumer()
			r.NotNil(mc)

			sc := mc.ToSilent{{.Type.Title}}Consumer()
			r.NotNil(sc)

			sc(test{{.Type.Title}}ConsumerValue)
		})
	}
}

func TestMust{{.Type.Title}}Consumer_To{{.Type.Title}}Consumer(t *testing.T) {
	tests := []struct {
		name string
		cf   test{{.Type.Title}}ConsumerFactory
		err  bool
	}{
		{
			name: "ok",
			cf: func(t *testing.T) {{.Type.Title}}Consumer {
				return func(v {{.Type.Name}}) error {
					require.Equal(t, test{{.Type.Title}}ConsumerValue, v)
					return nil
				}
			},
		},
		{
			name: "with_error",
			cf: func(t *testing.T) {{.Type.Title}}Consumer {
				return func(v {{.Type.Name}}) error {
					require.Equal(t, test{{.Type.Title}}ConsumerValue, v)
					return test{{.Type.Title}}ConsumerError
				}
			},
			err: true,
		},
	}
	for _, tt := range tests {
		t.Run(tt.name, func(t *testing.T) {
			r := require.New(t)

			c := tt.cf(t)

			mc := c.ToMust{{.Type.Title}}Consumer()
			r.NotNil(mc)

			c = mc.To{{.Type.Title}}Consumer()
			r.NotNil(c)

			err := c(test{{.Type.Title}}ConsumerValue)
			if tt.err {
				r.EqualError(err, test{{.Type.Title}}ConsumerError.Error())
			}
		})
	}
}
